[submodule "SubModules/AutoTf.FahrplanParser"]
	path = SubModules/AutoTf.FahrplanParser
	url = https://github.com/AutoTF-Rail/AutoTf.FahrplanParser.git
[submodule "SubModules/AutoTf.CentralBridge.Shared"]
	path = SubModules/AutoTf.CentralBridge.Shared
	url = https://github.com/AutoTF-Rail/AutoTf.CentralBridge.Shared
